<div class="register" fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header fxLayoutAlign="center center">
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <form class="register-form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content fxLayout="column">
        <mat-form-field fxFlex>
          <input
            matInput
            placeholder="First name"
            formControlName="firstName"
            data-testid="firstName-input"
          />
        </mat-form-field>
        <mat-form-field fxFlex>
          <input
            matInput
            placeholder="Last name"
            formControlName="lastName"
            data-testid="lastName-input"
          />
        </mat-form-field>
        <mat-form-field fxFlex>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            data-testid="email-input"
          />
        </mat-form-field>
        <mat-form-field fxFlex>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            placeholder="Password"
            formControlName="password"
            data-testid="password-input"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            data-testid="password-button"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions fxLayout="column" fxLayoutAlign="center center">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="form.invalid"
          data-testid="submit-button"
        >
          Submit
        </button>
        @if (onError) {
          <span class="error ml2" data-testid="error-message"
            >An error occurred</span
          >
        }
      </mat-card-actions>
    </form>
  </mat-card>
</div>
