<div class="app">
  <mat-toolbar
    color="primary"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <span>Yoga app</span>
    <div>
      @if ($isLogged() | async) {
        <span routerLink="sessions" routerLinkActive="active" class="link"
          >Sessions</span
        >
        <span routerLink="me" routerLinkActive="active" class="link"
          >Account</span
        >
        <span (click)="logout()" routerLinkActive="active" class="link"
          >Logout</span
        >
      } @else {
        <span routerLink="/login" routerLinkActive="active" class="link"
          >Login</span
        >
        <span routerLink="/register" routerLinkActive="active" class="link"
          >Register</span
        >
      }
    </div>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
