<div class="app">
  <mat-toolbar
    color="primary"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <span>Yoga app</span>
    <div>
      @if ($isLogged() | async) {
        <span
          routerLink="sessions"
          routerLinkActive="active"
          class="link"
          data-testid="sessions-button"
          >Sessions</span
        >
        <span
          routerLink="me"
          routerLinkActive="active"
          class="link"
          data-testid="account-button"
          >Account</span
        >
        <span
          (click)="logout()"
          routerLinkActive="active"
          class="link"
          data-testid="logout-button"
          >Logout</span
        >
      } @else {
        <span
          routerLink="/login"
          routerLinkActive="active"
          class="link"
          data-testid="login-button"
          >Login</span
        >
        <span
          routerLink="/register"
          routerLinkActive="active"
          class="link"
          data-testid="register-button"
          >Register</span
        >
      }
    </div>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
